In [9]:
import pandas as pd
import numpy as np
import json

In [19]:
files = ['200','400','600','800','1000','1200','1400','1600','1800','2000','2200','2400','2600','2661']
data1 = []
for f in files:
    lines = open('./tech_news'+f +'.json', 'rb').readlines()
    data1.extend([json.loads(elem.decode("utf-8")) for elem in lines])
data1 = pd.DataFrame(data1)
print(data1.shape)    
data1.tail()

(92979, 5)

,main_text,pubtime,title,topic,url
92974,INTEL finally announced the name of its next p...,1999-01-14T15:51:05-0500,A week in view,Technology,https://www.theguardian.com/technology/1999/ja...
92975,Cheating and Australia. The two words are snug...,1999-01-14T15:51:11-0500,Micro lites,Technology,https://www.theguardian.com/technology/1999/ja...
92976,What's in a name? When it is a name like www.y...,1999-01-14T15:51:13-0500,Working it out: so you want to use the Net?,Technology,https://www.theguardian.com/technology/1999/ja...
92977,Fancy some action? But genuine action - not so...,1999-01-14T15:51:20-0500,Computing and the Net: Mission to explain,Technology,https://www.theguardian.com/technology/1999/ja...
92978,THE new iMac computer that Apple boss Steve Jo...,1999-01-14T15:51:22-0500,Computerwatch,Technology,https://www.theguardian.com/technology/1999/ja...

In [16]:
data1 = []
lines = open('./tech_news'+'400' +'.json', 'rb').readlines()
data1.extend([json.loads(elem.decode("utf-8")) for elem in lines])
len(data1)

0

In [18]:
open('./tech_news400.json', 'rb').readlines()

[]

In [6]:
data2 = []
files = ['BankingNews.json','EconomicsNews.json','EuroNews.json','MarketsNews.json','RetailNews.json']
for f in files:
    lines = open('./business/'+f, 'rb').readlines()
    data2.extend([json.loads(elem.decode("utf-8")) for elem in lines])
    
data2 = pd.DataFrame(data2)
print(data2.shape)
data2.tail(2)

(55533, 5)

,main_text,pubtime,title,topic,url
55531,"Just six months after Dave Lewis, the boss of ...",2016-05-14,Mike Ashley will meet MPs on condition they vi...,Supermarkets|Retail industry|Serious Fraud Off...,https://www.theguardian.com/business/2016/may/...
55532,A major shortage of lorry drivers could pose a...,2015-10-25,Thousands of Morrisons staff to sue supermarke...,Christmas|Online shopping|Shops and shopping|R...,https://www.theguardian.com/world/2015/oct/25/...